@import url('https://fonts.googleapis.com/css?family=Coiny');
*{
    padding: 0;
    margin: 0;
}

/* Welcome and registration CSS */
/* .welcome_container_background{
    width: 100%;
} */

.welcome_container{
    font-family: 'Coiny', cursive;
}

.welcome_container h1{
    font-size: 3rem;
}

.registration_container{
    font-family: 'Coiny', cursive;
}

.registration_container h1{
    font-size: 3rem;
}

.hereHyperLink{
text-decoration: none;
color:black
}

#loginButton{
    font-family: 'Coiny';
    font-size: 1.25rem;
    border-radius: 3px;
    padding: 0 1rem 0 1rem;
}

#submitNewUserButton{
    font-family: 'Coiny';
    font-size: 1.25rem;
    border-radius: 3px;
    padding: 0 1rem 0 1rem;
}

/* News Articles */
.article_section {
    border: 1px solid #000;
    margin-bottom: 20px;
}

.news_etc {
    background-color: #eee;
    display: flex;
    justify-content: flex-between;
}

html, body {
    height: 100%;
}
.chatroomDiv {
    /* display: flex; */
    width: 80vw;
    height: 75vh;
    border: 1px solid black;
    margin-left: 20px;
}

.messageInput {
    height: 55px;
    width: 410px;
    margin-left: 24%;
    margin-top: 10px;
}

#messageSubmit {
    margin-left: 20px;
    padding: 10px;
}

.userMessage {
    display: flex;
    border: 1px solid white;
    width: 85%;
    height: 10%;
    margin-left: 10%;
    margin-top: 20px;
    margin-right: 20px;
}

.usernameSection {
    border: 1px solid red;
    background-color: red;
    width: 10%;
    height: 10px;
    margin-top: -1%;
}

.userPhotoSection {
    border: 1px solid blue;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: blue;
    margin-left: -20%;
    margin-top: -1.5%;
}

.userMessageContent {
    border: 1px solid green;
    background-color: green;
    width: 100%;
    height: 100%;
    margin-left: 2%;
}

/* *****************************EVENT CSS***************************** */

.posted--container {
    border: 1px solid black;
    width: 600px;
}

.event--outer--container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.add--event--form {
    display: flex;
    flex-wrap: wrap;
}